@import "compass";
@import "susy";

// ---------------------------------------------------------------------------
// Typography
// ---------------------------------------------------------------------------

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url('SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro Italic';
  font-style: italic;
  font-weight: 400;
  src: url('SourceSansPro-Italic.ttf');
}

$body-font-family       : 'Source Sans Pro', sans-serif;
$base-font-size         : 18px;
$base-line-height       : 24px;

// This name borrows the concept of a beat (or a pause) from theater.  It's
// used to designate some amount of horizontal space to separate related but
// distinct elements.
//
// I'm pretty sure there's a typographical name for this, but I can't remember
// what it is.
$beat-width             : 0.25em;

// ---------------------------------------------------------------------------
// Grid
// ---------------------------------------------------------------------------

$total-columns          : 16;
$column-width           : 6.25%;
$gutter-width           : 1%;
$grid-padding           : $gutter-width;

$show-grid-backgrounds  : false;

// ---------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------

$nu-purple              : #520063;
$light-background-color : #f8f8f8;
$dark-background-color  : #c0c0c0;
$grid-background-color  : $light-background-color;
$link-color             : #0000ff;
$border                 : 1px solid $dark-background-color;
$focus-background-color : desaturate(lighten($nu-purple, 70%), 80%);
$tag-background-color   : $focus-background-color;
$tag-color              : invert($tag-background-color);
$foreground-color       : #222222;

// ---------------------------------------------------------------------------
// Maxima
// ---------------------------------------------------------------------------

$visible-autocomplete-candidates  : 10;

// vim:ts=2:sw=2:et:tw=78
