@import "base";
@import "icons";
@import "motifs";

@mixin search-criterion($stretch-input: false) {
  .label, .input {
    display: block;
  }

  .label {
    @include heading;

    float: left;
    margin-left: $beat-width;
    margin-right: $beat-width;

    &:first-child {
      margin-left: 0;
    }
  }

  @if $stretch-input {
    .input {
      overflow: hidden;

      input[type="text"] {
        width: 100%;
      }
    }
  }
}

.status {
  @include span-columns(3);

  h1 {
    @include heading;
  }
}

.report {
  @include span-columns(13 omega);
}

.search {
  @include span-columns($total-columns);

  padding-bottom: $base-line-height / 2;

  .label, .input {
    padding-bottom: $base-line-height / 2;
  }

  .event-type {
    @include span-columns($total-columns);
    @include search-criterion;
  }

  .scheduled-date {
    @include span-columns(3);
    @include search-criterion(true);
  }

  .done-by {
    @include span-columns(9);
    @include search-criterion;
  }

  .go {
    @include span-columns(1 omega);

    button {
      width: 100%;
    }
  }
}

// vim:ts=2:sw=2:et:tw=78
