@import "base";
@import "icons";
@import "motifs";
@import "compass/css3/opacity";

@mixin search-criterion($stretch-input: false) {
  .label, .input {
    display: block;
  }

  .label {
    @include heading;

    float: left;
    margin-left: $beat-width;
    margin-right: $beat-width;

    &:first-child {
      margin-left: 0;
    }
  }

  @if $stretch-input {
    .input {
      overflow: hidden;

      input[type="text"] {
        width: 100%;
      }
    }
  }
}

.locations {
  @include span-columns(3);
}

.report {
  @include span-columns(13 omega);

  .in-progress {
    width: 100%;
  }

  .in-progress {
    text-align: center;

    .spinner {
      @include opacity(0.1);

      display: block;
      font-size: $base-font-size * 8;
    }
  }

  .search-results {
    height: 800px;

    .grid {
      height: 100%;

      .slick-column-name {
        @include heading;
      }

      .slick-group-title {
        @include heading;

        color: gray;
      }
    }

    .slick-cell {
      .participant-id {
        font-size: 80%;

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }
      }
    }
  }
}

.search {
  @include span-columns($total-columns);

  padding-bottom: $base-line-height / 2;

  .label, .input {
    padding-bottom: $base-line-height / 2;
  }

  .event-type {
    @include span-columns($total-columns);
    @include search-criterion;
  }

  .scheduled-date {
    @include span-columns(3);
    @include search-criterion(true);
  }

  .done-by {
    @include span-columns(9);
    @include search-criterion;
  }

  .go {
    @include span-columns(1 omega);

    button {
      width: 100%;
    }
  }
}

// vim:ts=2:sw=2:et:tw=78
