@import "motifs";

.locations {
  h1 {
    @include heading;
  }

  .manifest, .status {
    float: left;
  }

  .status {
    margin-left: $gutter-width;
  }

  .status-view.success {
    color: green;
  }

  .status-view.failure {
    color: red;
  }

  .status-view.working {
    color: gray;
  }

  .blank {
    display: block;
    height: $base-line-height;
  }
}

// vim:ts=2:sw=2:et:tw=78
