@import "base";
@import "compass/reset";

html {
  background-color: $light-background-color;
}

body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.banner {
  background-color: $nu-purple;
  color: white;
  margin-bottom: $base-line-height;
}

.container {
  @include container;
  @include susy-grid-background;
}

label[for] {
  cursor: pointer;
}

// vim:ts=2:sw=2:et:tw=78
