@import "base";
@import "compass/reset";

html {
  background-color: $light-background-color;
}

body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.banner {
  background-color: $nu-purple;
  color: white;
  margin-bottom: $base-line-height;
}

.container {
  @include container;
  @include susy-grid-background;
}

button, input {
  border: 1px solid black;
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
}

button {
  cursor: pointer;
  background-color: $dark-background-color;

  &:active {
    background-color: $light-background-color;
  }
}

// vim:ts=2:sw=2:et:tw=78
